<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.lbi.mapper.BoardMapper">
  
  
  <!--게시글 등록  -->
  <insert id="enroll">
  	INSERT INTO LBI_BOARD(
  		TITLE,
  		CONTENT,
  		WRITER
  	) VALUES(
  		#{title},
  		#{content},
  		#{writer}
  	)
  </insert>
  
  <select id="getList" resultType="com.lbi.model.BoardVO">
  	SELECT *
  	FROM LBI_BOARD
  </select>
  
  <select id="getPage" resultType="com.lbi.model.BoardVO">
  	SELECT *
  	FROM LBI_BOARD
  	WHERE BNO = #{bno}
  </select>
  
  <update id="modify">
  	UPDATE LBI_BOARD
  	SET 
  		TITLE=#{title},
  		CONTENT=#{content},
  		UPDATEDATE=SYSDATE
  	WHERE BNO=#{bno}
  </update>
  
  </mapper>